.button-wrapper {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.circles {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 120px;
}

.circle-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}