.controls-container {
    display: flex;
    width: 952px;
    gap: 12px;
    flex-direction: column;
    margin: 0 auto;
}

.button-wrapper {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.circles {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 120px;
}

.circle-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.input {
    max-width: 204px;
}